@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
	background-color: #ff8;
}

.board {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
    	font-size: 4.5em;
       	color: #333;
    	font-family: 'Lobster', cursive;
    }
    .create-column {
    	margin-top: 50px;
    	display: block;
    	border: none;
    	border-radius: 10%;
    	min-width: 200px;
    	min-height: 40px;
    	background-color: #f14;
    	font-size: 3em;
    	font-family: 'Indie Flower';
    	cursor: pointer;
    	padding: 0 10px;
    }
    .column-container {
    	margin-top: 50px;
    	display: flex;
    	max-width: 750px;
    	width: 100%;
    	justify-content: center;
    	text-align: center;
    	.column {
    		max-width: 250px;
    		width: 100%;
    		h2 {
    			font-family: 'Indie Flower';
    			font-size: 2.5em;
    			padding-bottom: 5px;
    		}
    		.add-card {
    			border: none;
    			width: 150px;
    			height: 50px;
    			background: #444;
    			margin: 0 5px;
    			color: #fff;
    			cursor: pointer;
    			font-style: bold;
    			padding: 7px 0px;
    			font-size: 1.5em;
    			border-radius: 10%;
    			font-family: 'Indie Flower';
    		}
    		.btn-delete {
    			border: none;
    			font-size: 2em;
    			background: transparent;
    			display: inline-block;
    			cursor: pointer;

    		}
    		.card {
    			display: flex;
    			justify-content: center;
    			margin: 20px 10px;
    			min-height: 100px;
    			background-color: #aaa;
    			color: #000;
    			position: relative;
    			border-radius: 15px;
    			&__description {
    				align-self: center;
    				font-size: 1.3em;
    			}
    			.btn-delete {
    				position: absolute;
    				top: -5%;
    				right: 0;
    			}
    		}
    	}
    }
}